#header{
	width:100%;
	float:left;
	background-color:#FFF;
}
#header ul{
	list-style:none;
	width:500px;
	margin:0 auto;
	padding:0;
}
#header li{
	float:left;
}
#header li a{
	padding:8px 15px;
	text-decoration:none;
	font-weight:bolder;
	color:#29333c;
}
#header li a:hover{
	color:#999;
}
#middle{
	background-color:#29333c;
	margin-top:90px;
	height:365px;
	width:100%;
}
#middle1 h1{
	font-size:24px;
	font-family: 'Roboto', sans-serif;
	color:#FFFFFF;
	font-weight:100;
	margin-left:150px;
	padding-top:100px;
}
#middle1 h2{
	font-size:24px;
	font-family:'Roboto', sans-serif;
	color:#7C8A9A;
	font-weight:lighter;
	margin-left:150px;
}
#pic{
	margin-left:800px;
	position:absolute;
}
#i{
	background-color:#CCC;
	margin-left:150px;
	width:450px;
	height:210px;
	float:left;
}
#i,h2,p{
	text-align:justify;
	padding:4px;
	font-family:'Roboto', sans-serif;
	font-weight:lighter;
}
#img{
	margin-left:150px;
	margin-bottom:3px;
	margin-top:3px;
}
#o{
	background-color:#CCC;
	width:450px;
	height:230px;
	float:left;
	margin-left:20px;
	margin-bottom:10px;
}
#o,i,p{
	text-align:justify;
	padding:4px;
	font-family:'Roboto', sans-serif;
	font-weight:lighter;
}
#m{
	background-color:#CCC;
	width:450px;
	height:180px;
	float:left;
	margin-left:150px;

}
#m,i,p{
	text-align:justify;
	padding:4px;
	font-family:'Roboto', sans-serif;
	font-weight:lighter;
}
#c{
	background-color:#666;
	width:450px;
	height:190px;
	float:left;
	margin-left:20px;
}
#c,i,p{
	text-align:justify;
	padding:4px;
	font-family:'Roboto', sans-serif;
	font-weight:lighter;
}
#i p{
	font-size:13px;
	font-weight:lighter;
}
#m p{
	font-size:13px;
	font-weight:lighter;
}
#i p{
	font-size:13px;
	font-weight:lighter;
}
#o p{
	font-size:13px;
	font-weight:lighter;
}
#c p{
	font-size:13px;
	font-weight:lighter;
}
#f{
	float:left;
	margin-left:150px;
}
#f p{
	font-size:14px;
}